*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar{
  display:flex;
  justify-content: space-around;
  align-items: center;
}


.logo{
  background-color: black;
  color:white;
}

.menuDeNavegacion{
  display:flex;
  justify-content:space-around;
  align-items: center;
  background-color:black;
  color:white;
  text-decoration: none;
  list-style: none;
  height:10vh;
}

.menuDeNavegacion .links{
  text-decoration: none;
  color:white;
}

.contador{
  margin:5px;
}

.marca{
  margin-top:150px;
  font-size:30px;
}
.bienvenida{
  color:red;
  font-size: 20px;
  margin-top:150px;
  margin-bottom:150px;
}

.tituloProducto{
  margin-bottom: 50px;
}

.imagenProducto{
  margin-bottom: 50px;
  width:30%;
}



.botonSumar{
  margin:5px;
  color:white;
  background-color: slateblue;
}

.botonRestar{
  margin:5px;
  color:white;
  background-color: slateblue
}


.contador{
  padding-right:80px;
  padding-left:80px;
  border:1px solid black;
}

.botonAgregar{
  color:white;
  background-color: slateblue;
  margin:30px;
  padding:10px;
}

.itemList{
  display:flex;
  justify-content: space-around;
}

.item{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tituloProductos{
  margin:50px;
}

.itemDetail{
  display:flex;
  justify-content: center;
  align-items:center;
  margin-bottom:40px;
}

.imagenDetalle{
  width:50%;
}

.tituloDetalle{
  margin-bottom:20px;
}
.descripcionProducto{
  margin:20px;
}

.precioDetalle{
  margin:20px;
}

.producto{
  text-decoration: none;
}

